//Import partial scss files.
@import "partials/variables";
@import "partials/mixins";



//Main css file.
* {
    @include all;
    &:before,
    &:after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit; 
    }
}
html{
    font-size: 16px;
    font-family: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
ul{
    list-style: none;
}



//SPECIAL
.clearfix:after{
    display:table;
    clear: both;
    content: "";
}



//LAYOUT
.bg-header{
    @include bg-header;
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
}
.bg-header:before{
    @include be-af; 
}
.bg-header:after{
    @extend .bg-header:before;
}
.bg-{
    &focal{
        background-color: $ltbrown;
        color: $dkbrown;  
    }
    &content1{
        background-color: $white;
        color: $dkgrey;
    }
    &content2{
        background-color: $ltblue;
        color: $dkblue;
    }
    &footer{
        background-color: $white;
        color: $ltgrey;
    }  
}
header{
    @include head;
    h1{
        width: 100%;
        padding: 0 2rem;
    }
    nav{
        width: 100%;
    }
    nav>ul li{
        width:100%;
        float: none;
    } 
}
section.focal{
    width: $px4;
    margin: 0 auto;
}
section.content1{
    margin: 0 auto;
    padding: $pad;    
}
section.content2{
    @extend section.content1; 
}
section.focal h2,
section p.author{
    width: 600px; 
    margin: 0 auto;
}
.row{
    clear: both;
}
.col-2{
    @include col2;
}
footer{
    padding: $pad;
    .col-2:first-child{
     border-left: 0;
    }
    p:last-child{
    }
}



//NAVIGATION
header{
    nav{
        padding: $pad;
        clear: both;
        &>ul>li>a{
            @include nula;
            &:hover{
                font-weight: 700;
                color: $dkbrown;   
            }
        }  
    }
}



//CONTENT
header h1{
    color: $dkbrown;
    letter-spacing: 0.1rem;
    i.fa-lg{
        @include falg;
        &~ span{
            @include span;
        } 
    }
}
.focal{
    h2{
       @include focalh2; 
    }
    .author{
       @include font-pad(1rem, $pad02);
    }
}
.content1{
    h3{
        @include font-pad($font19, $pad02);
        i{
            @include h3i;
        }
    }
    p{
        @include font-pad($font14, 0.5rem 2rem 2rem);
    }
}
.content2{
    h3{
        @include font-pad($font19, 1rem 2rem 0.5rem);
    }
    h4{
        @include font-pad($font19, 1rem 2rem 0rem);
    }
    p{
        @include font-pad($font14, 0.5rem 2rem 1rem);
    }
    li{
        @include font-pad($font14, 0.5rem 2rem);
    }
}



//FOOTER
footer{
    h4{
        @include font-pad($font14, 0.5rem 2rem);
        color: $dkbrown;
    }
    p{
        @include font-pad(1rem, 0.5rem 2rem);
        color: $dkgrey;
    }
    .fa-circle{
        color: $dkgrey;
    }
    h4[lang=en]{
        display: block;
    }
    h4[lang=de],
    h4[lang=ar],
    h4[lang=ru]{
        display: none;
    }
}



//MEDIA
@import "partials/queries";


