$ltblue: #C7F7FF;
$mdblue: #89C0C9;
$dkblue: #3a5E63;
$ltbrown: #C9A689;
$dkbrown: #7C593C;
$ltgrey: #d4d4d4;
$dkgrey: #222;
$white: #fff;

$px4: 400px !default;

$font: '';
$font14: 1.414rem;
$font19: 1.999rem;
$font-line: 3.998 * 1.6;
            

$pad: 2rem 0;
$pad02: 0.2rem 2rem 2rem;

$min-wth: null;
$max-wth: null;

$color: '';
